/*购物车飞的样式*/
.u-flyer{display: block;width: 50px;height: 50px;border-radius: 50px;position: fixed;z-index: 9999;}


.xqCont{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
	margin-bottom: 20px;
}
/*文档路径*/
.xqCont .xqCont_a span{
	margin-top: 10px;
	width: 22px;
    height: 22px;
    display: inline-block;
	background: url(../img/core.png)no-repeat left center;
	background-position: -184px -618px;;
}
.xqCont .xqCont_a a{
	display: inline-block;
	height: 50px;
	line-height: 40px;
	text-indent: 10px;
	color: #999;
}
/*商品首图*/
.xqCont_b{
	border: 1px solid #eaeaea;
	height: 480px;
	overflow: hidden;
}
.xqCont_b_f {
	width:476px;
	height: 100%;
}
.xqCont_b_f .xqCont_b_f1{
	width: 84px;
	height: 428px;
}
.xqCont_b_f .xqCont_b_f1 ul{
	margin: 40px 0;
}
.xqCont_b_f .xqCont_b_f1 li{
	width: 60px;
	height: 60px;
	margin: 10px;
}
.xqCont_b_f .xqCont_b_f1 li img,.xqCont_b_f .lxzoom img{
	display: block;
	width: 100%;
	height: 100%;
}
.xqCont_b_f .lxzoom{
	position: relative;
	width: 380px;
}

.xqCont_b_f .xqCont_b_f3 ul{
	margin-left: 30px;
}
.xqCont_b_f .xqCont_b_f3 ul li{
	float: left;
    color: #666;
    width: 80px;
    position: relative;
    padding-left: 30px;
}
.xqCont_b_f .xqCont_b_f3 ul li a{
	color: #333;
}
.xqCont_b_f .xqCont_b_f3 ul li span{
	width: 23px;
    height: 23px;
    line-height: 23px;
    position: absolute;
    top: -2px;
    left: 0px;
    background: url(../img/core.png)no-repeat;
}
.xqCont_b_f .xqCont_b_f3 ul li span.xqCont_zp{
	background-position: -346px -734px;
}
.xqCont_b_f .xqCont_b_f3 ul li span.xqCont_zp:hover{
	background-position: -407px -734px;
}
.xqCont_b_f .xqCont_b_f3 ul li span.xqCont_tt{
	background-position: -469px -734px;
}
.xqCont_b_f .xqCont_b_f3 ul li span.xqCont_tt:hover{
	background-position: -535px -734px;
}
.xqCont_b_f .xqCont_b_f3 ul li span.xqCont_fx{
	background-position: -598px -734px;
}
.xqCont_b_f .xqCont_b_f3 ul li span.xqCont_fx:hover{
	background-position: -659px -734px;
}
.xqCont_b_f .xqCont_b_f3 ul li span.xqCont_sc{
	background-position: -719px -734px;
}
.xqCont_b_f .xqCont_b_f3 ul li span.xqCont_sc:hover{
	background-position: -780px -734px;
}
.xqCont_b_c{
	width: 500px;
    margin-left: 10px;
    overflow: hidden;
}
.xqCont_b_c .xqContB li {
	display: block;
	height: 56px;
	line-height: 56px;
	padding-left:6px;
}
.xqCont_b_c .xqCont_bti span{
	margin-top: 18px;
	width: 60px;
    height: 24px;
    display: inline-block;
	background: url(../img/men_bg.png)no-repeat;
}
.xqCont_b_c .xqCont_bti{
	font-size: 14px;
}
.xqCont_b_c .xqCont_pri{
	background-color: #eaeaea;
	line-height: 56px;
}
.xqCont_b_c .xqCont_pri em{
	font-size: 18px;
    font-weight: bold;
    color: #ff3344;
}
.xqCont_b_c .xqCont_pri i{
	color: #b2b2b2;
	margin-left: 12px;
	text-decoration: line-through;
}
.xqCont_b_c .xqCont_item em{
	color: #ff3344;
}
.xqCont_b_c .xqCont_siz ,.xqCont_btn{
	margin-top: 20px;
}
.xqCont_b_c .xqCont_col p,.xqCont_b_c .xqCont_col div,.xqCont_b_c .xqCont_siz p,.xqCont_b_c .xqCont_siz div{
	height: 25px;
    line-height: 25px;
}
.xqCont_b_c .xqCont_col div,.xqCont_b_c .xqCont_siz div{
    padding: 0px 5px;
    border: 1px solid #ccc;
    margin-left: 4px;
}
.xqCont_b_c .xqCont_col div:hover,.xqCont_b_c .xqCont_siz div:hover{
	 border: 1px solid #ff3344;
}
.xqCont_btn{
	position: relative;
}
.xqCont_btn ul li{
	float: left;
	width: auto;
    min-width: 60px;
}
.xqCont_btn .dtnum3 em{
	color: #f60;
}
.xqCont_btn .xqCont_inp input{
	width: 28px;
    height: 39px;
    text-align: center;
    line-height: 38px;
    border: 1px solid #ccc;
}
.xqCont_ina{
	border-top:1px solid #ccc;
}
.xqCont_btn .xqCont_ina a{
	width: 24px;
    height: 19px;
    display: block;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;;
    text-align: center;
    line-height: 19px;
    color: #333;
    border-left: none;
}
.xqCont_btn .addCart{
	width: 140px;
    height: 40px;
    display: block;
    color: #fff;
    background: #ff3344;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    margin-left: 10px;
}
.xqCont_btn .data-sao{
	width: 145px;
    height: 38px;
    position: absolute;
    top: 0px;
    right: 30px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}
.xqCont_btn .data-sao span{
	background: url(../img/core.png)no-repeat;
	width: 18px;
    height: 26px;
    display: block;
    position: absolute;
    top: 8px;
    left: 15px;
    background-position: -394px -852px;
}
.xqCont_btn .data-sao ul{
	margin-left: 40px;
}
.xqCont_btn .data-sao :hover div.dstelma{
	display: block;
}
.xqCont_btn .data-sao ul .lids1{
	color: #999;
    margin-top: 3px;
}
.xqCont_btn .data-sao ul .lids2{
	color: #f60;
}
.xqCont_btn .dstelma{
	width: 143px;
    height: 130px;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: -132px;
    left: 0px;
    background: #fff;
    text-align: center;
    display: none;
}
.xqCont_b_r{
	 width: 195px;
}
.xqCont_b_r .bmLogo,.xqCont_b_r .bmList{
	border-bottom: 1px dashed #e6e6e6;
}
.xqCont_b_r .bmLogo{
	width: 160px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
}
.xqCont_b_r .bmLogo img{
	width: 160px;
    height: 90px;
}
.xqCont_b_r .bmList ul li{
	height: 28px;
	line-height: 28px;
	margin-left: 14px;
}
#bmLt{
	height: 111px;
	margin-bottom: 10px;
}
.bmpin{
	margin-top: 30px;
}
.bmpin dl{
	overflow: hidden;
    float: left;
    margin-left: 12px;
    margin-top: 5px;
}
.bmpin dl dt{
	width: 45px;
    height: 35px;
    background: url(../img/core.png)no-repeat;
}
.bmpin dl .bmpin_a{
	background-position: -80px -1114px;;
}
.bmpin dl .bmpin_b{
	background-position: -862px -849px;;
}
.bmpin dl .bmpin_c{
	background-position: -259px -1114px;;
}
.xpList{
	margin-top: 20px;
	width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.xpList_f{
	width: 188px;
    padding-bottom: 20px;
    border: 1px solid #e6e6e6;
}
.xpList_f .xpList_top{
	height: 40px;
    background: #fafafa;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    text-align: center;
    line-height: 40px;
    color: #c71417;
    font-weight: bold;
}
.xpList_f .xpList_top em{
	color: #666;
}
/*.xpList_f .xpList_top .hot_lg{
	width: 37px;
    height: 36px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background-position: -960px -845px;
	background: url(../img/core.png)no-repeat;
}*/
.xpList_f .xpList_bottom ul li{
	width: 140px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 15px;
    text-align: center;
}
.xpList_f .xpList_bottom ul li a{
	color: #000;
	height: 20px;
	line-height: 20px;
    margin-top: 10px;
}
.xpList_f .xpList_bottom ul li em{
	color: #ff3344;
    font-weight: bold;
    height: 20px;
	line-height: 20px;
    margin-top: 5px;
    font-size: 16px;
}
.xpList_r{
	width: 1000px;
	border: 1px solid #e6e6e6;;
}
.xpgood_top{
	width: 998px;
    position: static;
    top: 0px;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    background: #fafafa;
    border: 1px solid #e6e6e6;
}
.xpgood_top span{
	display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 12px;
    width: 180px;
    text-align: center;
    background: #e6e6e6;
    font-weight: bold;
    border-bottom: none;
    border-top: 2px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.xpgood_top span a {
    width: 180px;
    height: 38px;
    color: #000;
}
.xpgood_sh {
    margin-right: 15px;
    display: none;
    overflow: hidden;
}
.xpgood_sh ul li{
	float: left;
	height: 40px;
	padding: 0 10px;
}
.xpgood_sh ul .xpgood-li1 a{
	color: #666;
}
.xpgood_sh ul .xpgood-li2 a{
	color: #999;
}
.xpgood_sh ul .xpgood-li3 a{
	color: #ff3344;
}
.xpgood_ita{
	border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    margin-top: 20px;
}
.xpgood_ita i{
	display: inline-block;
	color: #666;
    line-height: 25px;
    width: 240px;
    margin-left: 20px;
}
.xpLast{
	margin-top: 20px;
}
.xpLast_a{
	width: 1200px;
    overflow: hidden;
    margin-top: 20px;
    border: 1px solid #ddd;
    margin: 0 auto;
}
.xpLast_b{
	font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}
.s-zb{
	position: relative;
    width: 12px;
    height: 20px;
    display: block;
    background: url(../img/eyes.png)no-repeat;
}
#xpLast_prev{
	position: relative;
	top: 130px;
    left: 22px;
	background-position: -8px -13px;
}
#xpLast_next{
	position: relative;
	top: -230px;
    left: 1155px;
	background-position: -26px -13px;
}
#xpLast_c {
	position: relative;
    width: 1085px;
    height: 342px;
    margin: 0 auto;
    overflow: hidden;
}
#xpLast_c ul{
	position: relative;
    width: 9999px;
    height: auto;
}
#xpLast_c ul li{
	float: left;
	width: 200px;
    height: 340px;
    margin-right: 15px;
    border: 1px solid #fff;
}
#xpLast_c ul li:hover{
	border: 1px solid #eaeaea;
	box-shadow:0 0 10px #999;
}